torch==2.3.1
torchvision
torchaudio
numpy==1.26.4
platformdirs==3.11.0
scikit-image==0.21.0
nibabel
totalsegmentator
pyvista
vtk
scipy
matplotlib
pandas
streamlit
stpyvista
ipykernel
jupyter
xmltodict
